html { 
    box-sizing: border-box; 
}

*, *:before, *:after { box-sizing: inherit; }

body {
    background: white;
    font-family: 'Malgun Gothic', sans-serif;
    font-size: 14px;
    margin: 0;
}
.navbar a { 
    text-decoration: none;
}
.navbar {
    width: 100%;
    margin: 0;
    display: flex;
    background: #e8f5e9;
}

/* Nav style */
.navbar_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin: 0px;
    padding: 20px;
    color: #311b92;
    font-size: 25px;
    font-family: 'Do Hyeon', sans-serif;
}
.navbar_menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav_end {
    list-style: none;
    padding: 8px 12px;
    display:flex;
    width: 10%;
    font-size: 24px;
    color: #311b92;
    align-items: center;
    justify-content: center;
}
.nav_end i{
    padding: 5px;
}
nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a {
    color: black;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
}

nav ul li:hover {
    background: #e8f5e9;
}

nav ul li ul {
    
    display: none;
    position: absolute;
    width: 110px;
}

nav ul li ul li {
    border-top: 1px solid #e8f5e9;
    display: block;
}

nav ul li ul li:first-child { 
    border-top: none; 
}

nav ul li ul li a {
    background: #e8f5e9;
    display: block;
    padding: 10px 14px;
}

nav ul li ul li a:hover { 
    background: #e8f5e9;
}
nav .fa.fa-angle-down { 
    margin-left: 6px; 
}

.navbar_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin: 0px;
    padding: 20px;
    color: #311b92;
    font-size: 25px;
    font-family: 'Do Hyeon', sans-serif;
}
.navbar_menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav_end {
    list-style: none;
    padding: 8px 12px;
    display:flex;
    width: 10%;
    font-size: 24px;
    color: #311b92;
    align-items: center;
    justify-content: center;
}
.nav_end i{
    padding: 5px;
}
nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a {
    color: black;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
}

nav ul li:hover {
    background: #e8f5e9;
}

nav ul li ul li {
    border-top: 1px solid #e8f5e9;
    display: block;
}

nav ul li ul li { 
    border-top: none;
}

nav ul li ul li a {
    background: #e8f5e9;
    display: block;
    padding: 10px 14px;
}

nav ul li ul li a:hover { 
    background: #e8f5e9;
}
nav .fa.fa-angle-down { 
    margin-left: 6px; 
}
nav ul li ul:hover{
    z-index: 1;
}

.h2 a:visited { color:#311b92; text-decoration: none;} 
.h2 a:link { color:#311b92; text-decoration: none;} 


.container1{
    margin: 0px auto;
    width: 1080px;
    font-family: 'Malgun Gothic', sans-serif;
    border-radius: 2px;
    border: 1px solid #efefef;
}
.cont_boardlist{
    margin: 30px;
    
}
.cont_boardlist_header{
    padding-top: 80px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a5a5a5;
}
.cont_boardlist_header>.h2{
    font-size: 30px;
}
.cont_boardlist_header>.add_info a{
    font-size: 15px;
}
.link_item{
    float: left;
    font-size: 15px;
}
.extend_info{
    display: flex;
    position: absolute;
    right: 0;
}
.add_info{
    position: relative;
    height: 20px;
    margin: 13px 0px;
}
.form-check{
    margin-right: 20px;
}
#list_count2{
    width: 50px;
    height: 20px;
}
.paging{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin:30px 0px;
}
.list_paging >ul{
    list-style: none;
    display: flex;
}
.list_paging>ul li{
    color: black;
    padding: 10px;
}
.list_paging>ul li a{
    padding: 10px;
}
.list_paging>ul li a:hover{
    text-decoration: underline;
}
.paging button{
    padding: 6px 14px;
    border-radius: 2px;
    border: 1px solid #e4e4e4;
    background-color: white;
    font-size: 13px;
}
.paging #pagingA{
    text-decoration: none;
}
.last{
    margin:0;
    padding:0;
    width:100%;
}
footer {
    height: 100px; 
    padding: 10px;
    background:black;
    text-align: center;
    font-family:'Malgun Gothic';
    color: white;
}