html { 
    box-sizing: border-box; 
}

*, *:before, *:after { box-sizing: inherit; }

body {
    background: white;
    font-family: 'Malgun Gothic', sans-serif;
    font-size: 14px;
    margin: 0;
}
.navbar a { 
    text-decoration: none;
}
.navbar {
    width: 100%;
    margin: 0;
    display: flex;
    background: #e8f5e9;
}

/* Nav style */
.navbar_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin: 0px;
    padding: 20px;
    color: #311b92;
    font-size: 25px;
    font-family: 'Do Hyeon', sans-serif;
}
.navbar_menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav_end {
    list-style: none;
    padding: 8px 12px;
    display:flex;
    width: 10%;
    font-size: 24px;
    color: #311b92;
    align-items: center;
    justify-content: center;
}
.nav_end i{
    padding: 5px;
}
nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a {
    color: black;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
}

nav ul li:hover {
    background: #e8f5e9;
}

nav ul li ul {
    
    display: none;
    position: absolute;
    width: 110px;
}

nav ul li ul li {
    border-top: 1px solid #e8f5e9;
    display: block;
}

nav ul li ul li:first-child { 
    border-top: none; 
}

nav ul li ul li a {
    background: #e8f5e9;
    display: block;
    padding: 10px 14px;
}

nav ul li ul li a:hover { 
    background: #e8f5e9;
}
nav .fa.fa-angle-down { 
    margin-left: 6px; 
}

.navbar_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin: 0px;
    padding: 20px;
    color: #311b92;
    font-size: 25px;
    font-family: 'Do Hyeon', sans-serif;
}
.navbar_menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav_end {
    list-style: none;
    padding: 8px 12px;
    display:flex;
    width: 10%;
    font-size: 24px;
    color: #311b92;
    align-items: center;
    justify-content: center;
}
.nav_end i{
    padding: 5px;
}
nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a {
    color: black;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
}

nav ul li:hover {
    background: #e8f5e9;
}

nav ul li ul li {
    border-top: 1px solid #e8f5e9;
    display: block;
}

nav ul li ul li { 
    border-top: none;
}

nav ul li ul li a {
    background: #e8f5e9;
    display: block;
    padding: 10px 14px;
}

nav ul li ul li a:hover { 
    background: #e8f5e9;
}
nav .fa.fa-angle-down { 
    margin-left: 6px; 
}
nav ul li ul:hover{
    z-index: 1;
}

.cont_board{
    width:1080px;
    margin: 20px auto;
    border: 1px solid #efefef;
    border-radius: 2px;
}

.board_wrap {
    font-family: 'Malgun Gothic', sans-serif;
    margin: 30px 20px;
}
.board_title a{
    color: #311b92;
}
.bt_wrap{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.bt_wrap button{
    margin: 20px 10px;
}

.board_title{
    margin-bottom: 30px;
}

.board_title strong{
    font-size: 1.4rem;
}

.board_title p{
    margin-top: 5px;
    font-size: 1.0rem;
}




.board_write{
    border-top : 2px solid #000;
}

.board_write .title,
.board_write .info{
    padding: 15px;
}

.board_write .info{
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0.6;
}

.board_write .title dl{
    font-size: 0.3rem;
    display: block;
}

.board_write .info dl{
    display: inline-block;
    width: 50%;
    
}
.board_write .info #leftdl{
    float: left;
}
.leftdt{
    margin-right: 16px;
}
.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.0rem;
}

.board_write .title dt,
.board_write .info dt{
    margin:0px 30px
}

.board_write .title dd{
    width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"]{
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"]{
    width: 79.4%;
}

.board_write .cont{
    border-bottom: 1px solid #000;
}

.board_write .cont textarea{
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border:0;
    resize: vertical;
}


.bt_wrap button{
    padding: 6px 14px;
    border-radius: 2px;
    border: 1px solid #e4e4e4;
    background-color: white;
    font-size: 13px;
}