*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

nav{
    font-family:'Do Hyeon', sans-serif;
}
a {
    text-decoration: none;
}
.navbar a{
    color: plum;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(245, 245, 215);
    padding:8px 12px;
}
.navbar_logo{
    font-size:24px;
    color:plum;
}
.navbar_log i {
    color:plum;
}
.navbar_menu{
    display:flex;
    list-style:none;
    padding-left:0;
}
.navbar_menu li:hover {
    background-color:white;
    border-radius: 4px;
}
.navbar_menu li{
    padding: 8px 12px;
}
.navbar_icons{
    list-style:none;
    color:plum;
    display:flex;
    padding-left:0;
}
.navbar_icons li{
    padding: 8px 12px;
}
.navbar_toogleBtn{
    display:none;
    position:absolute;
    right: 32px;
    font-size: 24px;
    color: plum;
}

@media screen and (max-width:768px){
    .navbar {
        flex-direction:column;
        align-items: flex-start;
        padding:8px 24px;
    }
    .navbar_menu{
        display: none;
        flex-direction:column;
        align-items: center;
        width:100%;                 
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_icons {
        display: none;
        justify-content: center;
        width:100%;
        padding: 8px 12px;
    }
    .navbar_toogleBtn{
        display:block;
    }
    .navbar_menu.active,
    .navbar_icons.active {
        display : flex;
    }
}
.paging{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin:30px auto;
}

.img_cont{
    margin: 20px auto;
    width: 1080px;
    border-radius: 2px;
    border: 1px solid #efefef;
    
}
.row{
    margin: 10px auto;
}
.paging button{
    padding: 6px 14px;
    border-radius: 2px;
    border: 1px solid #e4e4e4;
    background-color: white;
    font-size: 13px;
}

.row>h1{
    font-family: 'Dongle', sans-serif;
    color: plum;
}
.card img{
    width: 318px;
    height: 211px;
}
.col-md-4{
    display: flex;
    justify-content: center;
}