*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

nav{
    font-family:'Do Hyeon', sans-serif;
}
nav a {
    text-decoration: none;
}
.navbar a{
    color: plum;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(245, 245, 215);
    padding:8px 12px;
}
.navbar_logo{
    font-size:24px;
    color:plum;
}
.navbar_log i {
    color:plum;
}
.navbar_menu{
    display:flex;
    list-style:none;
    padding-left:0;
}
.navbar_menu li:hover {
    background-color:white;
    border-radius: 4px;
}
.navbar_menu li{
    padding: 8px 12px;
}
.navbar_icons{
    list-style:none;
    color:plum;
    display:flex;
    padding-left:0;
}
.navbar_icons li{
    padding: 8px 12px;
}
.navbar_toogleBtn{
    display:none;
    position:absolute;
    right: 32px;
    font-size: 24px;
    color: plum;
}

@media screen and (max-width:768px){
    .navbar {
        flex-direction:column;
        align-items: flex-start;
        padding:8px 24px;
    }
    .navbar_menu{
        display: none;
        flex-direction:column;
        align-items: center;
        width:100%;                 
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_icons {
        display: none;
        justify-content: center;
        width:100%;
        padding: 8px 12px;
    }
    .navbar_toogleBtn{
        display:block;
    }
    .navbar_menu.active,
    .navbar_icons.active {
        display : flex;
    }
}
/* 메인 페이지 section 1 */
.container1{
    margin:0;
    padding:0;
}
.section1{
    margin:0px auto;
    height:600px;    
    background: url('../img/dog22.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    
} 
.sec1_wrap{
    position:absolute;
    top:15%;
    left:23%;
    animation: slide 1.5s ease-out;   
}
.sec1_slogan{
    font-size: 3em;
    width:400px;
    height:400px;
    color:white;
    font-family: 'Do Hyeon', 'sans-serif';  
}
.sec1_info {
    font-size: 1.5em;
    width:350px;
    color:white;
    font-family: 'Do Hyeon', 'sans-serif';     
}
.sec1_info a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    color: white;    
    background-color: red;
    text-decoration: none;
}

@keyframes slide{
    from {
        left:-200px;
        opacity: 0;
    }
    to {
        left :23%;
        opacity: 1;
    }
}
.section2{
    font-family: '맑은고딕';
    color:white;
    margin:0 auto;
    background-color:rgb(8, 179, 209);
    display:flex;
    align-items: center;    
    justify-content: center;    
    padding-top:20px;
}
.sec_logo{
    font-size: 3em;
    width: 150px;
    text-align: center;    
    color:white;   
    padding-right:20px;
}
.sec2_title2{
    padding:10px;
    border-top:0.5px white;
}
.sec2_title a {
    border:purple solid 2px;         
    text-decoration:none;
    padding:5px;
    margin: 5px;
    color :rgb(245, 245, 215);
    border-radius: 3px;
}