html { 
    box-sizing: border-box; 
}

*, *:before, *:after { box-sizing: inherit; }

body {
    background: white;
    font-family: 'Malgun Gothic', sans-serif;
    font-size: 14px;
    margin: 0;
}
.navbar a { 
    text-decoration: none;
}
.navbar {
    width: 100%;
    margin: 0;
    display: flex;
    background: #e8f5e9;
}

/* Nav style */
.navbar_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin: 0px;
    padding: 20px;
    color: #311b92;
    font-size: 25px;
    font-family: 'Do Hyeon', sans-serif;
}
.navbar_menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav_end {
    list-style: none;
    padding: 8px 12px;
    display:flex;
    width: 10%;
    font-size: 24px;
    color: #311b92;
    align-items: center;
    justify-content: center;
}
.nav_end i{
    padding: 5px;
}
nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a {
    color: black;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
}

nav ul li:hover {
    background: #e8f5e9;
}

nav ul li ul {
    
    display: none;
    position: absolute;
    width: 110px;
}

nav ul li ul li {
    border-top: 1px solid #e8f5e9;
    display: block;
}

nav ul li ul li:first-child { 
    border-top: none; 
}

nav ul li ul li a {
    background: #e8f5e9;
    display: block;
    padding: 10px 14px;
}

nav ul li ul li a:hover { 
    background: #e8f5e9;
}
nav .fa.fa-angle-down { 
    margin-left: 6px; 
}

.navbar_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin: 0px;
    padding: 20px;
    color: #311b92;
    font-size: 25px;
    font-family: 'Do Hyeon', sans-serif;
}
.navbar_menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav_end {
    list-style: none;
    padding: 8px 12px;
    display:flex;
    width: 10%;
    font-size: 24px;
    color: #311b92;
    align-items: center;
    justify-content: center;
}
.nav_end i{
    padding: 5px;
}
nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a {
    color: black;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
}

nav ul li:hover {
    background: #e8f5e9;
}

nav ul li ul li {
    border-top: 1px solid #e8f5e9;
    display: block;
}

nav ul li ul li { 
    border-top: none;
}

nav ul li ul li a {
    background: #e8f5e9;
    display: block;
    padding: 10px 14px;
}

nav ul li ul li a:hover { 
    background: #e8f5e9;
}
nav .fa.fa-angle-down { 
    margin-left: 6px; 
}
nav ul li ul:hover{
    z-index: 1;
}

/* 메인 페이지 section 1 */
.container1{
    margin:0;
    padding:0;
}
.section1{
    margin:0px auto;
    height:600px;    
    background: url('../img/dog22.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    
} 
.sec1_wrap{
    position:absolute;
    top:15%;
    left:23%;
    animation: slide 1.5s ease-out;   
}
.sec1_slogan{
    font-size: 3em;
    width:400px;
    height:400px;
    color:white;
    font-family: 'Do Hyeon', 'sans-serif';  
}
.sec1_info {
    font-size: 1.5em;
    width:350px;
    color:white;
    font-family: 'Do Hyeon', 'sans-serif';     
}
.sec1_info a {
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px;
    color: white;    
    background-color: red;
    text-decoration: none;
}

@keyframes slide{
    from {
        left:-200px;
        opacity: 0;
    }
    to {
        left :23%;
        opacity: 1;
    }
}
.section2{
    font-family: '맑은고딕';
    color:white;
    margin:0 auto;
    background-color:rgb(8, 179, 209);
    display:flex;
    align-items: center;    
    justify-content: center;    
    padding-top:20px;
}
.sec_logo{
    font-size: 3em;
    width: 180px;
    text-align: center;    
    color:white;   
    padding-right:20px;
}
.sec2_title2{
    padding:10px;
    border-top:0.5px white;
}
.sec2_title a {
    border:purple solid 2px;        
    text-decoration:none;
    padding:7px 15px;
    margin: 5px;
    color :rgb(245, 245, 215);
    border-radius: 3px;
}
footer {
    height: 50px; 
    padding: 10px;
    background:black;
    text-align: center;
    font-family:'Malgun Gothic';
    color: white;
}