html { 
    box-sizing: border-box; 
}

*, *:before, *:after { box-sizing: inherit; }

body {
    background: white;
    font-family: 'Malgun Gothic', sans-serif;
    font-size: 14px;
    margin: 0;
}
.navbar a { 
    text-decoration: none;
}
.navbar {
    width: 100%;
    margin: 0;
    display: flex;
    background: #e8f5e9;
}

/* Nav style */
.navbar_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin: 0px;
    padding: 20px;
    color: #311b92;
    font-size: 25px;
    font-family: 'Do Hyeon', sans-serif;
}
.navbar_menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav_end {
    list-style: none;
    padding: 8px 12px;
    display:flex;
    width: 10%;
    font-size: 24px;
    color: #311b92;
    align-items: center;
    justify-content: center;
}
.nav_end i{
    padding: 5px;
}
nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a {
    color: black;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
}

nav ul li:hover {
    background: #e8f5e9;
}

nav ul li ul {
    
    display: none;
    position: absolute;
    width: 110px;
}

nav ul li ul li {
    border-top: 1px solid #e8f5e9;
    display: block;
}

nav ul li ul li:first-child { 
    border-top: none; 
}

nav ul li ul li a {
    background: #e8f5e9;
    display: block;
    padding: 10px 14px;
}

nav ul li ul li a:hover { 
    background: #e8f5e9;
}
nav .fa.fa-angle-down { 
    margin-left: 6px; 
}

.navbar_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin: 0px;
    padding: 20px;
    color: #311b92;
    font-size: 25px;
    font-family: 'Do Hyeon', sans-serif;
}
.navbar_menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav_end {
    list-style: none;
    padding: 8px 12px;
    display:flex;
    width: 10%;
    font-size: 24px;
    color: #311b92;
    align-items: center;
    justify-content: center;
}
.nav_end i{
    padding: 5px;
}
nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a {
    color: black;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
}

nav ul li:hover {
    background: #e8f5e9;
}

nav ul li ul li {
    border-top: 1px solid #e8f5e9;
    display: block;
}

nav ul li ul li { 
    border-top: none;
}

nav ul li ul li a {
    background: #e8f5e9;
    display: block;
    padding: 10px 14px;
}

nav ul li ul li a:hover { 
    background: #e8f5e9;
}
nav .fa.fa-angle-down { 
    margin-left: 6px; 
}
nav ul li ul:hover{
    z-index: 1;
}

/* 메인 스타일 */
   main {
       margin: 0px;
       padding-top: 10px;
       background:white;
   }
   #regi_name { 
       padding-top: 70px;
       font-family:'Malgun Gothic';
       font-weight: lighter;
       letter-spacing: 3px;
       color: #311b92;
   }
   .join_form {
       width: 100%;
       margin: 10px;
       font-family:'Malgun Gothic';
       font-size: 13px;
       display: flex;
       flex-flow: column nowrap;
       align-items: center;
   }
    .basic_info {
       margin: 5px;
       padding-top: 10px;
       width: 400px;
       }
    .extra_info {
        margin: 5px;
        padding-top: 10px;
        width: 400px;
        }
    .basic_info h2, .extra_info h2 {
        font-weight: lighter;
    }
    .basic_info h3, .extra_info h3 {
        font-weight: lighter;
    }
    #birth_wrap {
        display: flex;
        
    }
    input[name=basic] {
       margin-top: 5px;
       padding: 7px;
       width: 380px;
       border: 0.1px solid black;
       display: flex;
    }
    #yy, #mm, #dd {
    margin-top: 5px;
    padding: 7px;
    width: 127px;
    height: 30px;
    border: 0.1px solid black;
    display: flex;  
    justify-content: space-evenly;
    }
    #gender, #hobbys, #job{
     margin-top: 5px;
       height: 30px;
       font-size: 15px;
    }
    textarea{
        width: 380px;
        margin-top: 5px;
    }
    #agree {
       font-size: 16px;
       font-weight: lighter;
       margin-top: 15px;
    }
    #regi_button {
        display: flex;
        margin-top: 0px;
        margin-bottom: 40px;
    }
    #button {  
        width: 180px;
        margin: 10px;
        padding: 10px;
        font-family:'Malgun Gothic';
        font-size: 15px;
        border: 0.2px none ;
        border-radius: 10px;
        color: black;
        background-color: #e8f5e9;
    }
   
   footer {
    height: 50px; 
    padding: 10px;
    background:black;
    text-align: center;
    font-family:'Malgun Gothic';
    color: white;
}